.main{height:100%;padding: 100px 0px;background: #FFFFFF;}
#xgmm{
	text-align:center;
}
#xgmm > form > div > input{
	width: 340px; 
	height:30px;
	margin-top:10px;
	text-indent: 10px;
	border:1px solid #C0C0C0;
}
#xgmm > form > div > span.error{
	color: red;
	position: absolute;
	transform: translate(10px,15px);
}
#xgmm .commit > input{
	width: 350px; 
	height:35px;
	border:none;
	border-radius: 5px;
	background-color: #37C1A0;
	color:#fff;
	font-size: 20px;
	margin-top:20px;
	cursor: pointer;
}