
/*注册样式*/
.shade{width:100%;height:100%;background: rgba(0,0,0,0.8);
	position:absolute;left:0;top:0;border:1px solid red;display: none;}
.modal{width:60%;height:70%;border:1px solid yellow;
	position: absolute;left: 0;right: 0;top: 0;bottom: 0;
	margin: auto;background:#fff;padding:30px 20px;
	z-index: 5;margin-top:5%;}
.regist p{/*border:1px solid red;*/margin-bottom: 10px;/*position: relative;*/}
.regist h2{margin-bottom: 10px;}
.regist p > b{width:80px;display: inline-block;text-align: right;
	font-weight: 400;/*display:block;float: left;line-height: 30px;*/}
.regist p > input{width:200px;height:30px;/*display: block;*/
	border:1px solid #ccc;text-indent: 5px;}
.regist p > select{width:204px;height:30px;}
.regist p > input#tj,input#gb{width:100px;background: #37C1A0;border:none;
	color:#fff;font-size: 16px;margin-left: 20px;}
.regist p span.error{color: red;font-size:12px;
	padding: 0 6px;/*position: absolute;left: 0;top:30px;*/}
