.mbgl ul li{width:25%;margin:0px 4% 35px;
	float: left;text-align: center;}
.mbgl ul li p{height:40px;background: #37C1A0;line-height: 40px;
	color: #fff;font-size: 18px;margin-bottom: 15px;}
.mbgl ul li form{display: inline-block;}
.mbgl ul li button{padding:3px 10px;background: #fff;border:1px solid #ccc;
	cursor: pointer;margin: 0px 5px;
	position: relative;
    overflow: hidden;
}
.mbgl ul li button span{width:10px;height:10px;border-radius: 50%;
	background:#37C1A0;display: inline-block;margin-right: 5px;}
.mbgl ul li button input{
	position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
}